<header-file></header-file>

<style media="screen">

    #upload {
        -webkit-appearance : none;
        appearance: none;
        width: 50%;
        margin-bottom: 10px;
    }
</style>
<hr>
    
    
    <div class="jumbotron well">
        <div class="container-fluid">
        <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <progress value="0" max="100" id="upload">0%</progress>

                <input type="file" class="file" id="fileButton">
            </div>
        <hr/>
            <br>
        <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2" data-ng-repeat="images in vicHallImages">
            <div class="panel panel-default">
                <div class="panel-image">
                    <img src="{{images.url}}" class="panel-image-preview zoom" height="200" width="50%" data-toggle="modal" data-target="#myModal" data-ng-click="update(images.$id);"/>
                </div>
                
            </div>
        </div>
    </div>
        </div>
    
        
    </div>
<footer-file></footer-file>


<!--MODAL FOR THE GALLERY-->

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      
      <div class="modal-body">
          <div class="img-responsive">
            <img src="{{vicHallImages[indexValue].url}}">
          </div>
      </div>
    </div>
  </div>
</div>