<header-file></header-file>
<style media="screen">
   #upload {
   -webkit-appearance : none;
   appearance: none;
   width: 100%;
   margin-bottom: 10px;
   }
    #uploadResidents {
        -webkit-appearance : none;
   appearance: none;
   width: 100%;
   margin-bottom: 10px;
    }
    
    #uploadEvents {
        -webkit-appearance : none;
    appearance: none;
    width: 100%;
    margin-bottom: 10px;
    }
    
    #uploadRoomsImage {
        -webkit-appearance : none;
       appearance: none;
       width: 100%;
       margin-bottom: 10px;
    }

   .clickable{
   cursor: pointer;   
   }
    
    .zoomless {
    transition: background-color 0.5s ease; /* Animation */
    
}

.zoomless:hover {
    background-color: rgb(67, 8, 7);
    color: white;/* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}
    .panel-heading span {
   margin-top: -20px;
   font-size: 15px;
   }
    
    svg{
  width: 100px;
  height: 100px;
  margin: 20px;
  display:inline-block;
}
</style>
<hr>
<div class="">
   <div class="container">
       <h1><strong>Gallery</strong></h1>
       <hr style="display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #86110e;
    margin: 1em 0;
    padding: 0;">
       
       
<!--       VICTORIA HALL PANEL-->
      <div class="panel panel-danger">
         <div class="panel-heading clickable zoomless" data-toggle="collapse" data-target="#vicHallPanel">
            <h3 class="panel-title">Victoria Hall</h3>
            <span class="pull-right clickable"><i class="glyphicon glyphicon-chevron-down"></i></span>
         </div>
         <div class="panel-body collapse filter-panel" id="vicHallPanel">
            <div class="row container-fluid">
               <button class="btn btn-default button-style" data-ng-if="signin.state == true" data-toggle="modal" data-target="#addToVictoriaHall">Add Image</button>
                <hr data-ng-if="signin.state == true">
               <br>
               <div class="col-xs-12 col-sm-4 col-md-3 col-lg-3" data-ng-repeat="images in vicHallImages">
                  <div class="panel panel-danger">
                     <div class="panel-heading" data-ng-if="signin.state == true">
                        <div class="panel-title">
                           <span class="pull-right clickable" style="padding-top: 10px;"><i class="glyphicon glyphicon-remove" data-ng-click="update(images.$id); deleteImageVicHalls();"></i></span>
                        </div>
                     </div>
                     <div class="panel-image">
                        <img src="{{images.url}}" class="panel-image-preview zoom" height="200" data-toggle="modal" data-target="#myModal" data-ng-click="update(images.$id);"/>                    
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
<!--       RESIDENTS PANEL-->
    <div class="panel panel-danger">
         <div class="panel-heading clickable zoomless" data-toggle="collapse" data-target="#residentsPanel">
            <h3 class="panel-title">Residents</h3>
            <span class="pull-right clickable"><i class="glyphicon glyphicon-chevron-down"></i></span>
         </div>
         <div class="panel-body collapse filter-panel" id="residentsPanel">
            <div class="row container-fluid">
               <button class="btn btn-default button-style" data-ng-if="signin.state == true" data-toggle="modal" data-target="#addToResidents">Add Image</button>
                <hr data-ng-if="signin.state == true">
               <br>
               <div class="col-xs-12 col-sm-4 col-md-3 col-lg-3" data-ng-repeat="images in residentsImages">
                  <div class="panel panel-danger">
                     <div class="panel-heading" data-ng-if="signin.state == true">
                        <div class="panel-title">
                           <span class="pull-right clickable" style="padding-top: 10px;"><i class="glyphicon glyphicon-remove" data-ng-click="updateResidents(images.$id); deleteImageResidents();"></i></span>
                        </div>
                     </div>
                     <div class="panel-image">
                        <img src="{{images.url}}" class="panel-image-preview zoom" height="300" data-toggle="modal" data-target="#residentsModal" data-ng-click="updateResidents(images.$id);"/>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
<!--       EVENTS PANEL-->
       <div class="panel panel-danger">
         <div class="panel-heading clickable zoomless" data-toggle="collapse" data-target="#eventsPanel">
            <h3 class="panel-title">Events</h3>
            <span class="pull-right clickable"><i class="glyphicon glyphicon-chevron-down"></i></span>
         </div>
         <div class="panel-body collapse filter-panel" id="eventsPanel">
            <div class="row container-fluid">
                <div class="col-xs-12 col-sm-5 col-md-4 col-lg-4">
                    <select class="form-control" id="selectequ" data-ng-model="titleFilter">
                        <option selected value="">All</option>
                        <option data-ng-repeat="groupImages in eventsImagesTitle | unique: 'title' track by $index">{{groupImages.title}}</option>
                     </select>
                </div>
                <br/>
                <br/>
                <hr style="display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #86110e;
    margin: 1em 0;
    padding: 0;">
                
                <br/>
               <button class="btn btn-default button-style" data-ng-if="signin.state == true" data-toggle="modal" data-target="#addToEvents">Add Image</button>
                <hr data-ng-if="signin.state == true">
               <br>
               <div class="col-xs-12 col-sm-4 col-md-3 col-lg-3" data-ng-repeat="images in eventsImages | filter: images track by $index" ng-if="!images.filtered">
                  <div class="panel panel-danger">
                     <div class="panel-heading" data-ng-if="signin.state == true">
                        <div class="panel-title">
                           <span class="pull-right clickable" style="padding-top: 10px;"><i class="glyphicon glyphicon-remove" data-ng-click="updateEvents(images.$id); deleteImageEvents();"></i></span>
                        </div>
                     </div>
                     <div class="panel-image">
                        <img src="{{images.url}}" class="panel-image-preview zoom" height="200" data-toggle="modal" data-target="#eventsModal" data-ng-click="updateEvents(images.$id);"/>                    
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
<!--       ROOM PANEL-->
       <div class="panel panel-danger">
         <div class="panel-heading clickable zoomless" data-toggle="collapse" data-target="#roomsPanel">
            <h3 class="panel-title">Rooms</h3>
            <span class="pull-right clickable"><i class="glyphicon glyphicon-chevron-down"></i></span>
         </div>
         <div class="panel-body collapse filter-panel" id="roomsPanel">
            <div class="row container-fluid">
               <button class="btn btn-default button-style" data-ng-if="signin.state == true" data-toggle="modal" data-target="#addImages">Add Image</button>
                <hr data-ng-if="signin.state == true">
               <br>
               <div class="col-xs-12 col-sm-4 col-md-3 col-lg-3" data-ng-repeat="rooms in roomImages">
                  <div class="panel panel-danger">
                     <div class="panel-heading" data-ng-if="signin.state == true">
                        <div class="panel-title">
                           <span class="pull-right clickable" style="padding-top: 10px;"><i class="glyphicon glyphicon-remove" data-ng-click="updateImageRooms(rooms.$id); deleteImageRooms();"></i></span>
                        </div>
                     </div>
                     <div class="panel-image">
                        <img src="{{rooms.url}}" class="panel-image-preview zoom" height="200" data-toggle="modal" data-target="#roomsModal" data-ng-click="updateImageRooms(rooms.$id);"/>                    
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
       
       <div class="panel panel-danger">
         <div class="panel-heading clickable zoomless" data-toggle="collapse" data-target="#videosPanel">
            <h3 class="panel-title">Videos</h3>
            <span class="pull-right clickable"><i class="glyphicon glyphicon-chevron-down"></i></span>
         </div>
         <div class="panel-body collapse filter-panel" id="videosPanel">
            <div class="row container-fluid">
               <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                  <div class="panel panel-success">
                      <div class="panel-heading">Video</div>
                     <div class="panel-body">
                        <div class="embed-responsive embed-responsive-16by9">
                            <iframe width="560" height="315" src="https://www.youtube.com/embed/9xwazD5SyVg" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen class="col-xs-12 col-sm-6 col-md-6 col-lg-6"></iframe>
                            
                        </div>
                      </div>
                     
                  </div>
               </div>
                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                  <div class="panel panel-success">
                      <div class="panel-heading">Video</div>
                     <div class="panel-body">
                        <div class="embed-responsive embed-responsive-16by9">
                            <iframe width="560" height="315" src="https://www.youtube.com/embed/9xwazD5SyVg" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen class="col-xs-12 col-sm-6 col-md-6 col-lg-6"></iframe>
                            
                        </div>
                      </div>
                     
                  </div>
               </div>
            </div>
         </div>
      </div>
       
   </div>
</div>
<footer-file></footer-file>

<!--ROOM IMAGE MODALS-->

<div id="addImages" class="modal fade" role="dialog">
   <div class="modal-dialog modal-lg">
      <!-- Modal content-->
      <div class="modal-content">
         <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Add Image under <strong>Rooms</strong> folder</h4>
         </div>
         <div class="modal-body">
             <div class="row container-fluid">
                 <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                     <div class="form-group">
                    <input type="text" class="form-control input-lg" placeholder="Title" data-ng-model="roomImageTitle" required>
				</div>
                     
                     <div class="form-group">
                    <input type="text" class="form-control input-lg" placeholder="Description" data-ng-model="roomImageDescription" required>
				</div>
                     <div data-ng-hide="roomImageTitle == undefined || roomImageDescription == undefined">
                         <progress value="0" max="100" id="uploadRoomsImage" hidden>0%</progress>
                         
                         <div id="loader" data-ng-if="RoomsImageLoader == true && RoomsImageUploaded == false">
                            <div class="dot"></div>
                            <div class="dot"></div>
                            <div class="dot"></div>
                            <div class="dot"></div>
                            <div class="dot"></div>
                            <div class="dot"></div>
                            <div class="dot"></div>
                            <div class="dot"></div>
                            <div class="lading"></div>
                        </div>
                        

                         <svg data-ng-if="RoomsImageUploaded == true && RoomsImageLoader == false" class="checkmark" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 52 52"><circle class="checkmark__circle" cx="26" cy="26" r="25" fill="none"/><path class="checkmark__check" fill="none" d="M14.1 27.2l7.1 7.2 16.7-16.8"/></svg>
                         <h3 class="text-success text-center" data-ng-if="RoomsImageUploaded == true && RoomsImageLoader == false" style="padding-bottom: 20px;">Image Successfully Uploaded</h3>
                         
                         <svg data-ng-if="RoomsImageNotUploaded == true && RoomsImageLoader == false" class="crossmark" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 52 52"><circle class="crossmark__circle" cx="26" cy="26" r="25" fill="none"/><path class="crossmark__check" fill="none" d="M16 16 36 36 M36 16 16 36"/>
                         <h3 class="text-danger text-center" data-ng-if="RoomsImageNotUploaded == true && RoomsImageLoader == false" style="padding-bottom: 20px;">Image already exists or has the same file name</h3>
                         </svg>
                         
                        <input type="file" class="file" id="fileButtonRooms">
                     </div>
                          

                 </div>
             </div>
         </div>
         <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
         </div>
      </div>
   </div>
</div>


<!--VICTORIA HALL-->
<div id="addToVictoriaHall" class="modal fade" role="dialog">
   <div class="modal-dialog modal-lg">
      <!-- Modal content-->
      <div class="modal-content">
         <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Add Image under <strong>VicHall</strong> folder</h4>
         </div>
         <div class="modal-body">
             <div class="row container-fluid">
                 <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                     <div class="form-group">
                    <input type="text" class="form-control input-lg" placeholder="Title" data-ng-model="VicHallImageTitle" required>
				</div>
                     
                     <div class="form-group">
                    <input type="text" class="form-control input-lg" placeholder="Description" data-ng-model="VicHallImageDescription" required>
				</div>

                     <div data-ng-hide="VicHallImageTitle == undefined || VicHallImageDescription == undefined">
                         <progress value="0" max="100" id="upload" hidden="">0%</progress>
                         <div id="loader" data-ng-if="VicHallImageLoader == true && VicHallImageUploaded == false">
                            <div class="dot"></div>
                            <div class="dot"></div>
                            <div class="dot"></div>
                            <div class="dot"></div>
                            <div class="dot"></div>
                            <div class="dot"></div>
                            <div class="dot"></div>
                            <div class="dot"></div>
                            <div class="lading"></div>
                        </div>
                        

                         <svg data-ng-if="VicHallImageUploaded == true && VicHallImageLoader == false" class="checkmark" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 52 52"><circle class="checkmark__circle" cx="26" cy="26" r="25" fill="none"/><path class="checkmark__check" fill="none" d="M14.1 27.2l7.1 7.2 16.7-16.8"/></svg>
                         <h3 class="text-success text-center" data-ng-if="VicHallImageUploaded == true && VicHallImageLoader == false" style="padding-bottom: 20px;">Image Successfully Uploaded</h3>
                         
                         <svg data-ng-if="VicHallImageNotUploaded == true && VicHallImageLoader == false" class="crossmark" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 52 52"><circle class="crossmark__circle" cx="26" cy="26" r="25" fill="none"/><path class="crossmark__check" fill="none" d="M16 16 36 36 M36 16 16 36"/>
                         <h3 class="text-danger text-center" data-ng-if="VicHallImageNotUploaded == true && VicHallImageLoader == false" style="padding-bottom: 20px;">Image already exists or has the same file name</h3>
                         </svg>
                         
                        <input type="file" class="file" id="fileButton">
                         
                     </div>
                          

                 </div>
             </div>
         </div>
         <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
         </div>
      </div>
   </div>
</div>
<!--RESIDENTS-->
<div id="addToResidents" class="modal fade" role="dialog">
   <div class="modal-dialog modal-lg">
      <!-- Modal content-->
      <div class="modal-content">
         <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Add Image under <strong>Residents</strong> folder</h4>
         </div>
         <div class="modal-body">
             <div class="row container-fluid">
                 <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                     <div class="form-group">
                    <input type="text" class="form-control input-lg" placeholder="Title" data-ng-model="residentsImageTitle" required>
				</div>
                     
                     <div class="form-group">
                    <input type="text" class="form-control input-lg" placeholder="Description" data-ng-model="residentsImageDescription" required>
				</div>
                     <div data-ng-hide="residentsImageTitle == undefined || VicHallImageDescription == residentsImageDescription">
                         <progress value="0" max="100" id="uploadResidents" hidden>0%</progress>
                         
                         <div id="loader" data-ng-if="ResidentsImageLoader == true && ResidentsImageUploaded == false">
                            <div class="dot"></div>
                            <div class="dot"></div>
                            <div class="dot"></div>
                            <div class="dot"></div>
                            <div class="dot"></div>
                            <div class="dot"></div>
                            <div class="dot"></div>
                            <div class="dot"></div>
                            <div class="lading"></div>
                        </div>

                         <svg data-ng-if="ResidentsImageUploaded == true && ResidentsImageLoader == false" class="checkmark" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 52 52"><circle class="checkmark__circle" cx="26" cy="26" r="25" fill="none"/><path class="checkmark__check" fill="none" d="M14.1 27.2l7.1 7.2 16.7-16.8"/></svg>
                         <h3 class="text-success text-center" data-ng-if="ResidentsImageUploaded == true && ResidentsImageLoader == false" style="padding-bottom: 20px;">Image Successfully Uploaded</h3>
                         
                         <svg data-ng-if="ResidentsImageNotUploaded == true && ResidentsImageLoader == false" class="crossmark" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 52 52"><circle class="crossmark__circle" cx="26" cy="26" r="25" fill="none"/><path class="crossmark__check" fill="none" d="M16 16 36 36 M36 16 16 36"/>
                         <h3 class="text-danger text-center" data-ng-if="ResidentsImageNotUploaded == true && ResidentsImageLoader == false" style="padding-bottom: 20px;">Image already exists or has the same file name</h3>
                         </svg>
                         
                        <input type="file" class="file" id="fileButtonResidents">
                     </div>      

                 </div>
             </div>
         </div>
         <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
         </div>
      </div>
   </div>
</div>
<!--EVENTS-->
<div id="addToEvents" class="modal fade" role="dialog">
   <div class="modal-dialog modal-lg">
      <!-- Modal content-->
      <div class="modal-content">
         <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Add Image under <strong>Events</strong> folder</h4>
         </div>
         <div class="modal-body">
             <div class="row container-fluid">
                 <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                     <div class="form-group">
                    <input type="text" class="form-control input-lg" placeholder="Title" data-ng-model="eventsImageTitle" required>
				</div>
                     
                     <div class="form-group">
                    <input type="text" class="form-control input-lg" placeholder="Description" data-ng-model="eventsImageDescription" required>
				</div>
                     <div data-ng-hide="eventsImageTitle == undefined || eventsImageDescription == undefined">
                        <progress value="0" max="100" id="uploadEvents" hidden>0%</progress>
                         
                         <div id="loader" data-ng-if="EventsImageLoader == true && EventsImageUploaded == false">
                            <div class="dot"></div>
                            <div class="dot"></div>
                            <div class="dot"></div>
                            <div class="dot"></div>
                            <div class="dot"></div>
                            <div class="dot"></div>
                            <div class="dot"></div>
                            <div class="dot"></div>
                            <div class="lading"></div>
                        </div>

                         <svg data-ng-if="EventsImageUploaded == true && EventsImageLoader == false" class="checkmark" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 52 52"><circle class="checkmark__circle" cx="26" cy="26" r="25" fill="none"/><path class="checkmark__check" fill="none" d="M14.1 27.2l7.1 7.2 16.7-16.8"/></svg>
                         <h3 class="text-success text-center" data-ng-if="EventsImageUploaded == true && EventsImageLoader == false" style="padding-bottom: 20px;">Image Successfully Uploaded</h3>
                         
                         <svg data-ng-if="EventsImageNotUploaded == true && EventsImageLoader == false" class="crossmark" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 52 52"><circle class="crossmark__circle" cx="26" cy="26" r="25" fill="none"/><path class="crossmark__check" fill="none" d="M16 16 36 36 M36 16 16 36"/>
                         <h3 class="text-danger text-center" data-ng-if="EventsImageNotUploaded == true && EventsImageLoader == false" style="padding-bottom: 20px;">Image already exists or has the same file name</h3>
                         </svg>
                         
                        <input type="file" class="file" id="fileButtonEvents">
                     </div>  
                 </div>
             </div>
         </div>
         <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
         </div>
      </div>
   </div>
</div>
<!--VIEW VIC HALL-->
<div id="myModal" class="modal">
    <div class="modal-dialog modal-lg">
      <!-- Modal content-->
      <div class="modal-content">
         <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title panel-heading-color" data-ng-hide="signin.state == true"><strong>{{vicHallImages[indexValue].title}}</strong></h4>
             <input data-ng-if="signin.state == true" type="text" value="{{vicHallImages[indexValue].title}}" data-ng-model="vicHallImages[indexValue].title">
         </div>
         <div class="modal-body">
             <div class="container-fluid">
                       <img src="{{vicHallImages[indexValue].url}}" class="img-responsive modal-content center-all">
    <h1>Description</h1>
             <hr style="display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #86110e;
    margin: 1em 0;
    padding: 0;">
        
            <h4 data-ng-hide="signin.state == true"><i>{{vicHallImages[indexValue].description}}</i></h4>
                 <textarea data-ng-if="signin.state == true" data-ng-model="vicHallImages[indexValue].description">{{vicHallImages[indexValue].description}}</textarea>
             </div>
         </div>
         <div class="modal-footer">
             <button type="button" class="btn btn-default" data-ng-click="saveChangesVicHall();" data-ng-if="signin.state == true">Save Changes</button>
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
         </div>
      </div>
   </div>
</div>

<!--VIEW RESIDENTS-->
<div id="residentsModal" class="modal">
    <div class="modal-dialog modal-lg">
      <!-- Modal content-->
      <div class="modal-content">
         <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title panel-heading-color" data-ng-hide="signin.state == true"><strong>{{residentsImages[indexValueResidents].title}}</strong></h4>
             <input data-ng-if="signin.state == true" type="text" value="{{residentsImages[indexValueResidents].title}}" data-ng-model="residentsImages[indexValueResidents].title">
         </div>
         <div class="modal-body">
             <div class="container-fluid">
                       <img src="{{residentsImages[indexValueResidents].url}}" class="img-responsive modal-content center-all">
    <h1>Description</h1>
             <hr style="display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #86110e;
    margin: 1em 0;
    padding: 0;">
<h4 data-ng-hide="signin.state == true"><i>{{residentsImages[indexValueResidents].description}}</i></h4>
                 <textarea data-ng-if="signin.state == true" data-ng-model="residentsImages[indexValueResidents].description">{{residentsImages[indexValueResidents].description}}</textarea>
             </div>
         </div>
         <div class="modal-footer">
             <button type="button" class="btn btn-default" data-ng-click="saveChangesResidents();" data-ng-if="signin.state == true">Save Changes</button>
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
         </div>
      </div>
   </div>
</div>

<!--VIEW EVENTS-->
<div id="eventsModal" class="modal">
    <div class="modal-dialog modal-lg">
      <!-- Modal content-->
      <div class="modal-content">
         <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title panel-heading-color" data-ng-hide="signin.state == true"><strong>{{eventsImages[indexValueEvents].title}}</strong></h4>
             <input data-ng-if="signin.state == true" type="text" value="{{eventsImages[indexValueEvents].title}}" data-ng-model="eventsImages[indexValueEvents].title">
         </div>
         <div class="modal-body">
             <div class="container-fluid">
                       <img src="{{eventsImages[indexValueEvents].url}}" class="img-responsive modal-content center-all">
    <h1>Description</h1>
             <hr style="display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #86110e;
    margin: 1em 0;
    padding: 0;">
<h4 data-ng-hide="signin.state == true"><i>{{eventsImages[indexValueEvents].description}}</i></h4>
                 <textarea data-ng-if="signin.state == true" data-ng-model="eventsImages[indexValueEvents].description">{{eventsImages[indexValueEvents].description}}</textarea>
             </div>
         </div>
         <div class="modal-footer">
             <button type="button" class="btn btn-default" data-ng-click="saveChangesEvents();" data-ng-if="signin.state == true">Save Changes</button>
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
         </div>
      </div>
   </div>
</div>
<!--VIEW ROOMS-->
<div id="roomsModal" class="modal">
    <div class="modal-dialog modal-lg">
      <!-- Modal content-->
      <div class="modal-content">
         <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 data-ng-hide="signin.state == true" class="modal-title panel-heading-color"><strong>{{roomImages[indexValueRooms].title}}</strong></h4>
             <input data-ng-if="signin.state == true" type="text" value="{{roomImages[indexValueRooms].title}}" data-ng-model="roomImages[indexValueRooms].title">
             
         </div>
         <div class="modal-body">
             <div class="container-fluid">
                       <img src="{{roomImages[indexValueRooms].url}}" class="img-responsive modal-content center-all">
    <h1>Description</h1>
             <hr style="display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #86110e;
    margin: 1em 0;
    padding: 0;">
        
            <h4 data-ng-hide="signin.state == true"><i>{{roomImages[indexValueRooms].description}}</i></h4>
                 <textarea data-ng-if="signin.state == true" data-ng-model="roomImages[indexValueRooms].description">{{roomImages[indexValueRooms].description}}</textarea>
             </div>
         </div>
         <div class="modal-footer">
            <button type="button" class="btn btn-default" data-ng-click="saveChangesRoom();" data-ng-if="signin.state == true">Save Changes</button>
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
         </div>
      </div>
   </div>
</div>