<footer class="footer-distributed">

    <div class="footer-left">

        <img src="../assets/images/logo.png"/>
        <hr/>
        <p class="footer-company-name">Victoria Hall &copy; 2018</p>

        <div class="footer-icons">

            <a href="https://www.facebook.com/Victoria-Hall-Swinburne-245083235569977/" target="_blank"><i class="fa fa-facebook"></i></a>

        </div>

    </div>

    <div class="footer-right" data-ng-controller="myCtrl">

        <p>Contact Us</p>

        <form id="contact-form">

            <input type="text" name="email" placeholder="Email" data-ng-model="tosendEmail"/>
            <textarea name="message" placeholder="Message" data-ng-model="message"></textarea>
            <button data-ng-click="sendNotification();">Send</button>

        </form>

    </div>

</footer>
